.ListItemHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
  flex-shrink: 0;
}

@media (max-width: 960px) {
  .ListItemWrap {
    flex-direction: column-reverse;
  }
  .ListItemHeader {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

.titleColor {
  color: #4078c0;
}
