.excerpt {
  display: block;
}

.mobileExcerpt {
  width: 80%;
  margin: 1rem auto;
  display: block;
}

.ListItemWrap {
  display: flex;
  width: 80%;
  margin: 3rem auto 0;
}
.ListItemWrap:first-of-type {
  margin-top: 0;
}

.ListItemHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
  flex-shrink: 0;
}

@media (max-width: 960px) {
  .excerpt {
    display: none;
  }
  .ListItemWrap {
    flex-direction: column-reverse;
  }
  .ListItemHeader {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .mobileExcerpt {
    display: none;
  }
}

.titleColor {
  color: #4078c0;
}
